body{
font-family: Arial;
margin:0;
background:#f2f2f2;
}

header{
background:#2c3e50;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#34495e;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

section{
background:white;
margin:20px;
padding:30px;
border-radius:8px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#2c3e50;
color:white;
}

form{
width:300px;
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin:10px 0;
}

button{
padding:10px;
background:#27ae60;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#219150;
}

footer{
text-align:center;
background:#2c3e50;
color:white;
padding:15px;
}
